<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="style.css" />
  <!-- CSS only -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
  <body>
    <!-- about -->
    <div class="d-flex justify-content-center align-content-center">
      <figure class="text-center w-50">
        <h1 class="d-block text-dark fw-bold">Todo App</h1>
        <blockquote class="blockquote">
          <p class="text-dark">
            Voluptate adipisicing exercitation incididunt eiusmod irure dolore
            ad magna ex ea ad enim incididunt Lorem. Enim ullamco mollit duis
            dolor in. Ullamco commodo consectetur laboris consequat irure eu
            reprehenderit magna deserunt in aliqua nostrud irure aute.
            Incididunt exercitation aliquip nulla cupidatat minim est
            adipisicing incididunt. Laboris deserunt cupidatat eiusmod sint ut
            fugiat in mollit. Eiusmod sint enim quis id proident enim velit.
          </p>
        </blockquote>
      </figure>
    </div>
    <div class="position-absolute top-50 start-50 translate-middle">
      <a class="btn btn-lg btn-primary" href="/users/register">Login</a>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
