<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="style.css" />
  <!-- CSS only -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
  <body>
    <div
      class="position-absolute top-50 start-50 translate-middle shadow p-3 mb-5 bg-body rounded w-50"
    >
      <ul>
        <% if (typeof errors != "undefined") { %> <% errors.forEach(error => {
        %>
        <div class="alert alert-danger" role="alert"><%= error.message %></div>
        <% }) %> <% } %>
      </ul>
      <form class="row g-3" action="/users/register" method="post">
        <div class="col-md-6">
          <label for="validationDefault01" class="form-label">First name</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault01"
            value=""
            required
            name="firstName"
          />
        </div>
        <div class="col-md-6">
          <label for="validationDefault02" class="form-label">Last name</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault02"
            value=""
            required
            name="lastName"
          />
        </div>
        <div class="col-md-8">
          <label for="validationDefault03" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault03"
            name="email"
          />
        </div>
        <div class="col-md-4">
          <label for="validationDefaultUsername" class="form-label"
            >Username</label
          >
          <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend2">@</span>
            <input
              type="text"
              class="form-control"
              id="validationDefaultUsername"
              aria-describedby="inputGroupPrepend2"
              required
              name="username"
            />
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationDefault03" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="validationDefault03"
            required
            name="password"
          />
        </div>
        <div class="col-md-6">
          <label for="validationDefault03" class="form-label"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control"
            id="validationDefault03"
            required
            name="password2"
          />
        </div>
        <div class="col-12 d-flex justify-content-between">
          <button class="btn btn-primary" type="submit" value="Register">
            Register
          </button>
          <span
            >Already register?
            <a href="/users/login">click here to login</a></span
          >
        </div>
      </form>
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
